# Population Data
Dataset downloaded on 05/04/2022 from:
https://www.nrscotland.gov.uk/statistics-and-data/statistics/stats-at-a-glance/council-area-profiles

Councils and NHS boards matched on 06/04/2022 using information from:
https://en.wikipedia.org/wiki/NHS_Scotland

# Ethical/privacy issues
All information used is publicly available and the NRS is an official department of the Scottish government that provides datasets for research purposes.

In [61]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import os

In [62]:
population_raw = pd.read_csv(os.path.join(os.getcwd(), 'data', "council-area-profiles-dataset-with-copyright_population-estimates.csv"))
population_raw.head()

,Council area,Year,Sex,Age,Population,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 1015,Unnamed: 1016,Unnamed: 1017,Unnamed: 1018,Unnamed: 1019,Unnamed: 1020,Unnamed: 1021,Unnamed: 1022,Unnamed: 1023,Unnamed: 1024
0,Aberdeen City,1998,Female,0,1078,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Aberdeen City,1998,Female,1,1052,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Aberdeen City,1998,Female,2,1034,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Aberdeen City,1998,Female,3,1123,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Aberdeen City,1998,Female,4,1143,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [63]:
population_raw = population_raw[['Council area','Year','Sex','Age','Population']]
population = population_raw.groupby(['Council area','Year']).sum().reset_index().drop(columns=['Age'])
population.drop(population[population["Council area"] == "Scotland"].index, inplace=True)

In [64]:
convert={"NHS Ayrshire and Arran":["East Ayrshire", "North Ayrshire", "South Ayrshire"],
         "NHS Borders":["Scottish Borders"],
         "NHS Dumfries and Galloway":["Dumfries and Galloway"],
         "NHS Western Isles":["Na h-Eileanan Siar"],
         "NHS Fife":["Fife"],
         "NHS Forth Valley":["Clackmannanshire", "Falkirk", "Stirling"],
         "NHS Grampian":["Aberdeenshire", "Aberdeen City", "Moray"],
         "NHS Greater Glasgow and Clyde":["Glasgow City", "East Dunbartonshire", "East Renfrewshire", "Inverclyde", "Renfrewshire", "West Dunbartonshire"],
         "NHS Highland":["Highland", "Argyll and Bute"],
         "NHS Lanarkshire":["North Lanarkshire", "South Lanarkshire"],
         "NHS Lothian":["City of Edinburgh", "East Lothian", "Midlothian", "West Lothian"],
         "NHS Orkney":["Orkney Islands"],
         "NHS Shetland":["Shetland Islands"],
         "NHS Tayside":["Angus", "Dundee City", "Perth and Kinross"]}

In [65]:
print(population["Council area"].unique() )
for row in range(population.shape[0]):
    for key in convert:
        #print(key)
        #print(population.iat[row,0])
        #print(convert[key])
        #print(convert[key].count(population.iat[row,0]))
        if convert[key].count(population.iat[row,0])>0:
            population.iat[row,0]=key
            break
print(population['Council area'].unique())

['Aberdeen City' 'Aberdeenshire' 'Angus' 'Argyll and Bute'
 'City of Edinburgh' 'Clackmannanshire' 'Dumfries and Galloway'
 'Dundee City' 'East Ayrshire' 'East Dunbartonshire' 'East Lothian'
 'East Renfrewshire' 'Falkirk' 'Fife' 'Glasgow City' 'Highland'
 'Inverclyde' 'Midlothian' 'Moray' 'Na h-Eileanan Siar' 'North Ayrshire'
 'North Lanarkshire' 'Orkney Islands' 'Perth and Kinross' 'Renfrewshire'
 'Scottish Borders' 'Shetland Islands' 'South Ayrshire'
 'South Lanarkshire' 'Stirling' 'West Dunbartonshire' 'West Lothian']
['NHS Grampian' 'NHS Tayside' 'NHS Highland' 'NHS Lothian'
 'NHS Forth Valley' 'NHS Dumfries and Galloway' 'NHS Ayrshire and Arran'
 'NHS Greater Glasgow and Clyde' 'NHS Fife' 'NHS Western Isles'
 'NHS Lanarkshire' 'NHS Orkney' 'NHS Borders' 'NHS Shetland']

In [66]:
population.to_csv(os.path.join(os.getcwd(),'data','population.csv'),index=False)